.tr {
  height: 74px;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  }
}

.td {
  font-weight: 500;
  font-size: 12px;
  color: #1d1e21;
  vertical-align: middle;
  border-right: 1px solid rgba(29, 30, 33, 0.1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.td:last-child {
  border-right: none;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.photo {
  object-fit: cover;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .tr {
    height: 76px;
  }
  .td {
    font-size: 16px;
    line-height: 1.125;
    &:not(:first-child) {
      padding-left: 20px;
    }
  }
  .photo {
    width: 36px;
    height: 36px;
  }
  .userInfo {
    align-items: center;
    flex-direction: row;
  }
}
