.dotWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 8px;
  left: 50%;
  bottom: 237px;
  transform: translateX(-50%);
}

.dotButton {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  padding: 0;
  min-width: 16px;
  min-height: 16px;
  outline: none;
  transition: background-color 250ms linear;
  background-color: #e7f1ed;
  &.active {
    background-color: #59b17a;
  }
}

@media screen and (min-width: 768px) {
  .dotWrapper {
    bottom: 185px;
  }
}

@media screen and (min-width: 1440px) {
  .dotWrapper {
    bottom: 160px;
  }
}
