.dotWrapper {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
}

.dotButton {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  min-width: 16px !important;
  min-height: 16px !important;
}
