.dotWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 8px;
  left: 50%;
  bottom: 110px;
  transform: translateX(-50%);
}

.dotButton {
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  min-width: 16px !important;
  min-height: 16px !important;
  outline: none;
  transition: background-color 250ms linear;
  background-color: #e7f1ed !important;
  &.active {
    background-color: #59b17a !important;
  }
}

@media screen and (min-width: 768px) {
  .dotWrapper {
    bottom: 258px;
  }
}

@media screen and (min-width: 1440px) {
  .dotWrapper {
    bottom: -35px;
  }
}
