.button {
  width: 100%;
  padding: 0 10px;
  transition: background-color 250ms linear, color 250ms linear;

  &.primary {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #ffffff;
    border-radius: 60px;
    height: 44px;
    background-color: #59b17a;
    &:hover {
      background-color: #3f945f;
    }
    &:disabled {
      color: rgba(29, 30, 33, 0.4);
      background-color: rgba(29, 30, 33, 0.1);
    }
  }
  &.secondary {
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: rgba(29, 30, 33, 0.4);
    border: 1px solid transparent;
    border-radius: 60px;
    background-color: rgba(29, 30, 33, 0.1);
    &:hover {
      color: #59b17a;
      border-color: #59b17a;
      background-color: #fff;
    }
  }
}
