.button {
  width: 100%;
  padding: 0 10px;
  transition: background-color 250ms linear, color 250ms linear;

  &.primary {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: #ffffff;
    border-radius: 60px;
    height: 44px;
    background-color: #59b17a;
    &:hover {
      background-color: #3f945f;
    }
    &:disabled {
      color: rgba(29, 30, 33, 0.4);
      background-color: rgba(29, 30, 33, 0.1);
    }
  }
  &.secondary {
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    color: rgba(29, 30, 33, 0.4);
    border: 1px solid transparent;
    border-radius: 60px;
    background-color: rgba(29, 30, 33, 0.1);
    &:hover {
      color: #59b17a;
      border-color: #59b17a;
      background-color: #fff;
    }
  }
  &.outline {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #1d1e21;
    border: 1px solid rgba(89, 177, 122, 0.5);
    border-radius: 60px;
    height: 44px;
    max-width: 177px;
    background-color: transparent;
  }
}

@media screen and (min-width: 768px) {
  &.outline {
    max-width: 196px;
    font-size: 14px;
    line-height: 1.28571;
  }
}
