.page {
  padding: 40px 0 168px 0;
}

@media screen and (min-width: 768px) {
  .page {
    padding: 50px 0 328px 0;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    padding: 75px 0 40px 0;
  }
}
