.pageWrapper {
  padding: 20px 0 80px 0;
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

@media screen and (min-width: 768px) {
  .pageWrapper {
    padding: 20px 0 40px 0;
  }
  .tableWrapper {
    gap: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .tableWrapper {
    flex-direction: row;
  }
}
