.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.addProductButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #59b17a !important;
  box-shadow: none !important;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #1d1e21;
}

@media screen and (min-width: 768px) {
  .text {
    font-size: 14px;
  }
}
