.form {
  display: flex;
  flex-direction: column;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actionButtonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .form {
    height: 240px;
    max-width: 323px;
  }
  .inputsWrapper {
    gap: 14px;
  }
}
