.tableCard {
  overflow-x: auto;
}

.titleWrapper {
  border-radius: 8px 8px 0 0;
  padding: 14px;
  background-color: #e7f1ed;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #1d1e21;
}

.contentWrapper {
  padding: 0 14px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-top: 1px solid transparent;
  border-radius: 0 0 8px 8px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.th {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(29, 30, 33, 0.4);
  text-align: left;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  height: 42px;
  min-width: 92px;
  max-width: 151px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid rgba(29, 30, 33, 0.1);
  }
}

.tr {
  height: 74px;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  }
}

.td {
  font-weight: 500;
  font-size: 12px;
  color: #1d1e21;
  vertical-align: middle;
  border-right: 1px solid rgba(29, 30, 33, 0.1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.td:last-child {
  border-right: none;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  object-fit: cover;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
