.tableCard {
  width: 100%;
}

.titleWrapper {
  border-radius: 8px 8px 0 0;
  padding: 14px;
  background-color: #e7f1ed;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #1d1e21;
}

.contentWrapper {
  padding: 0 14px;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-top: 1px solid transparent;
  border-radius: 0 0 8px 8px;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.th {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  color: rgba(29, 30, 33, 0.4);
  text-align: left;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
  height: 42px;
  min-width: 92px;
  max-width: 151px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid rgba(29, 30, 33, 0.1);
  }
}

.wrapper {
  position: relative;
}

.tableContainer {
  margin: 0 auto;
  max-width: 335px;
  height: 608px;
  overflow-x: auto;
}

.tableWrapper {
  width: 671px;
}

.tableContainer::-webkit-scrollbar {
  cursor: pointer;
  height: 10px;
}

.tableContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 14px;
}

.tableContainer::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 14px;
}

@media screen and (min-width: 768px) {
  .th {
    height: 58px;
    &:not(:first-child) {
      padding-left: 20px;
    }
  }
  .tableContainer {
    max-width: 704px;
    height: 798px;
  }
  .tableWrapper {
    width: 960px;
  }
  .titleWrapper {
    padding: 20px;
  }
  .title {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media screen and (min-width: 1440px) {
  .tableContainer {
    max-width: 1440px;
    padding: 0 40px 0 120px;
    height: auto;
  }

  .tableWrapper {
    width: 100%;
    overflow-x: visible;
  }
}
