.header {
  padding: 17px 0;
  height: 80px;
  border-bottom: 1px solid rgba(29, 30, 33, 0.1);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.openSideBarButton {
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .wrapper {
    gap: 16px;
  }
}
