.page {
  padding-top: 106px;
}

.logoWrapper {
  padding-top: 25px;
}

@media screen and (min-width: 768px) {
  .page {
    padding-top: 168px;
  }
  .logoWrapper {
    padding-top: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .page {
    padding-top: 226px;
    display: grid;
    grid-template-columns: 614px 1fr;
    gap: 150px;
  }
  .logoWrapper {
    padding-top: 29px;
  }
}
