.selectorWrapper {
  position: relative;
}

.customSelect {
  position: relative;
  width: 100%;
}

.selectButton {
  width: 100%;
  height: 44px;
  background-color: transparent;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(29, 30, 33, 0.4);
  padding: 0 18px;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
}

.hasValue {
  color: rgba(29, 30, 33, 0.8);
}
.errorMessage {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  position: absolute;
  bottom: -16px;
  left: 18px;
  color: #d32f2f;
}

.arrowIcon {
  width: 16px;
  height: 16px;
  transform: rotate(180deg);
  transition: transform 0.3s;

  &.arrowOpen {
    transform: rotate(0deg);
  }
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  background-color: #59b17a;
  border-radius: 15px;
  padding: 13px 18px;
  z-index: 1000;
  transition: all 0.3s ease;
  max-height: 140px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);

  &.menuOpen {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.dropdownMenu::-webkit-scrollbar {
  width: 6px;
}

.dropdownMenu::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.dropdownMenu::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.dropdownMenu::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 3px 0;
  cursor: pointer;
  transition: all 0.2s;
}

.item:last-child {
  margin-bottom: 0;
}

.item:hover {
  color: #fff;
}

.item:active {
  background-color: rgba(255, 255, 255, 0.15);
}
