.modal {
  width: 100%;
  height: auto;
  max-width: 335px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  padding: 40px 20px;
  background-color: #fff;
  z-index: 10000;
}

.closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  background-color: transparent !important;
  box-shadow: none !important;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #1d1e21;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 536px;
  }

  .title {
    font-size: 24px;
    line-height: 1.6667;
    margin-bottom: 40px;
  }
}
