.td {
  font-weight: 500;
  font-size: 12px;
  color: #1d1e21;
  line-height: 1.16667;
  vertical-align: middle;
  border-right: 1px solid rgba(29, 30, 33, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  width: 89px;
  height: 25px;
  border-radius: 40px;

  &.active {
    color: #59b17a;
    background-color: rgba(89, 177, 122, 0.1);
  }
  &.deactive {
    color: #e85050;
    background-color: rgba(232, 80, 80, 0.1);
  }
}

.td:last-child {
  border-right: none;
}

.actionsWrapper {
  display: flex;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 34px;
  border: 1px solid rgba(89, 177, 122, 0.5);
  border-radius: 30px;
  box-shadow: none;
  background-color: transparent;
}

.btnContentWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}

.buttonText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: #59b17a;
}

@media screen and (min-width: 768px) {
  .td {
    font-size: 16px;
    line-height: 1.125;
    &:not(:first-child) {
      padding-left: 20px;
    }
  }
}
