.form {
  display: grid;
  grid-template-columns: 215px 1fr;
  gap: 8px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .form {
    grid-template-columns: 224px 116px;
    gap: 14px;
  }
}
