.td {
  font-weight: 500;
  font-size: 12px;
  color: #1d1e21;
  line-height: 1.16667;
  vertical-align: middle;
  border-right: 1px solid rgba(29, 30, 33, 0.1);
  overflow: hidden;
  text-overflow: ellipsis;
  &:not(:first-child) {
    padding-left: 10px;
  }
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.05em;
  width: 92px;
  height: 25px;
  border-radius: 40px;

  &.completed {
    color: #59b17a;
    background-color: rgba(89, 177, 122, 0.1);
  }
  &.confirmed {
    color: #8059e4;
    background-color: rgba(128, 89, 228, 0.1);
  }
  &.pending {
    color: #f79042;
    background-color: rgba(247, 144, 66, 0.1);
  }
  &.cancelled {
    color: #e85050;
    background-color: rgba(232, 80, 80, 0.1);
  }
  &.processing {
    color: #70a6e8;
    background-color: rgba(112, 166, 232, 0.1);
  }
  &.shipped {
    color: #3da2b8;
    background-color: rgba(61, 162, 184, 0.1);
  }

  &.delivered {
    color: #4cb050;
    background-color: rgba(76, 176, 80, 0.1);
  }
}

.td:last-child {
  border-right: none;
}

.actionsWrapper {
  display: flex;
  gap: 8px;
}

.iconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: none !important;
  background-color: transparent !important;
  &.edit {
    border: 1px solid rgba(89, 177, 122, 0.5);
  }
  &.trash {
    border: 1px solid rgba(232, 80, 80, 0.5);
  }
}

@media screen and (min-width: 768px) {
  .tr {
    height: 76px;
  }
  .td {
    font-size: 16px;
    line-height: 1.125;
    &:not(:first-child) {
      padding-left: 20px;
    }
  }
}
